<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cookoon.cookoonandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:name="cookoon.cookoonandroid.CustomApplicationClass"
        android:icon="@mipmap/${icLauncher}"
        android:label="${appName}"
        android:roundIcon="@mipmap/${icLauncher}_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" android:host="${hostName}" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="cookoon.app.link" />
                <data android:scheme="https" android:host="cookoon-alternate.app.link" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TurbolinksActivity"
            android:label="${appName}"
            android:parentActivityName=".MainActivity" />

        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_hmxKEByFt9UD9dlLbCXxIkdiDBiWvbsa" />
    </application>

</manifest>
